{
  "include": [
    "src/**/*.{js,ts}"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/I[A-Z]*.ts"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": ["html", "text"],
  "per-file": true
}
